@import url('https://use.typekit.net/phj1crn.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'proxima-nova', sans-serif;
  background: #44475a;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-heading {
  font-family: 'myriad-pro', sans-serif;
}

.text-body {
  font-family: 'proxima-nova', sans-serif;
}

.home .drac-avatar {
  width: 210px;
  height: 210px;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger-stack path {
  stroke: rgb(248 248 242);
}

.Typewriter {
  font-family: 'Fira Code';
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #44475a #282a36;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #282a36;
}

*::-webkit-scrollbar-thumb {
  background-color: #44475a;
  border-radius: 10px;
  border: 3px solid #282a36;
}
