@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background: #44475a;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-heading {
  font-family: "Montserrat", sans-serif;
}

.text-body {
  font-family: "Open Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
  }
}

.home .drac-avatar {
  width: 210px;
  height: 210px;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburger-stack path {
  stroke: rgb(248 248 242);
}

.Typewriter {
  font-family: "Fira Code";
}

.resume-md ul:first-child {
  padding: 0;
  margin: 0;
  list-style: none;
}

.resume-md ul:first-child {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.resume-md ul:first-child li {
  border: #44475a;
  border-radius: 5px;
  /* list-style: none; */
  padding: 0;
  margin: 0;
}
.resume-md ul:first-child li strong {
  color: #bd93f9;
}
@media screen and (max-width: 768px) {
  .resume-md ul:first-child {
    /* grid-template-columns: 1fr 1fr; */
    grid-template-columns: repeat(1, 1fr);
  }
}
